@import '../../scss/index.scss';

.close-button{
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        // transform: scale(1.1);
        // box-shadow: $box-shadow-lt;
        background-color: #eee;
    }
}
