@import './@index.scss';

.cart-icon{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    .badge{
        position: absolute;
        top: -2px;
        right: -5px;
        z-index: 10;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $bg-light;
        background-color: $carrot;
    }
    .long-badge{
        width: 32px;
        border-radius: 8px;
        right: -21px;
    }
}