@import './@index.scss';

header{
    padding: $big-pad;
    display: flex;
    justify-content: space-between;
    nav{
        display: flex;
        width: 50%;
        justify-content: space-between;
    }

    .account-icon{
        cursor: pointer;
        background-color: #ccc;
    }
}