@import './@index.scss';

.navigation{
    display: flex;
    flex-direction: column;
    .nav-link{
        padding-left: 10px;
    }
}
@media (min-width: 640px) {
    .navigation{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
    }
}

