@import './@index.scss';

.popup-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: rgba(0,0,0,0.8);
    z-index: 10000;
    cursor: pointer;
    .icon-row{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0.5rem;
        .icon{
            color: $carrot;
            font-size: 30px;
        }
    }
    h3{
        margin-bottom: 0.5rem;
        font-weight: 500;
        color: $carrot;
    }
}