@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
@import './normalize.scss';

html,body{
    font-family: 'Lato', Helvetica, sans-serif; 
    background-color: #ffffff;
    width: 100%;
    scroll-behavior: smooth;
    height: 100%;
	width: 100%;
	font-size: 100%;
    font-size: 14px;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
@media (min-width: 580px) {
    html,body{font-size: 15px;}
}
@media (min-width: 768px) {
    html,body{font-size: 16px;}
}
@media (min-width: 1200px) {
    html,body{font-size: 17px;}
}

// === VARIABLES ===

$big-pad: 1rem;
$carrot: #f85904;
$text-blue: #5388cd;

$bg-hover: rgba(0,0,0,0.1);
$bg-active: rgba(0,0,0,0.2);
$spark-line: #5388cd;

// ===== light theme =====
$bg-light: #ffffff;
$text-dark: #212529;
$box-shadow-lt: 0px 0px 10px 2px rgba(0,0,0,0.1);
$bg-active-light: rgba(0,0,0,0.04);
// ===== dark theme =====
$bg-dark: #2e3137;
$text-light: #e8eaed;
$bg-block-dark: #3c4043;

// ===== sizes =====
$unit-1: 5px;
$unit-2: 10px;
$unit-3: 15px;
$unit-4: 20px;
$unit-5: 25px;
$unit-6: 30px;

$button-max-size: 120px;
$button-min-size: 90px;
$button-big: 180px;
$max-mobile: 320px;
$br-medium: 6px;
// === GLOBAL CLASSES ===
.g-stretched{
    flex: 1;
}
.g-auth-button{
    max-width: 120px;
    box-shadow: $box-shadow-lt;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: $br-medium;
    color: $text-blue;
    font-weight: 700;
    cursor: pointer;
}
