@import '../../scss/index.scss';

.container-fluid{
    min-width: 100%;
    min-height: 100vh;
    .container{
        max-width: 1200px;
        min-height: 100vh;
        margin: 0 auto;
        background-color: #eee;
        display: flex;
        flex-direction: column;
        position: relative;
    }
}